@model Evento
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head> 
		<meta name="viewport" content="width=device=width" />
		<title>Actualizar Evento</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#txtPrecio').on('input', function () {
				this.value = this.value.replace(/[^0-9]/g, '');
			});
		});

		$(document).ready(function () {
			$("#txtFecha").datepicker({
				showAnim: "slideDown",
				dateFormat: "yy-mm-dd",
				minDate: new Date(),
				changeMonth: true,
				changeYear: true
			});
		});
	</script>

	</head>
	<body>
		<div class="card-header">
			<h3 class="card-title">Actualizar Datos del Evento</h3>
		</div>
		<div class="card-body">
			<input asp-for="datoEvento.ci_id" id="txt_ci_id" type="hidden" />
			<div class="mb-2">
			    <label class="form-label" for="txtFecha">Fecha</label>
				<input type="text" class="form-control form-control-sm" id="txtFecha" asp-for="datoEvento.fx_fecha" />
			</div>
			<div class="mb-2">
				<label class="form-label">Lugar</label>
				<input type="text" class="form-control form-control-sm" id="txtLugar" asp-for="datoEvento.tx_lugar" />
			</div>
				<div class="mb-2">
					<label class="form-label">Descripción</label>
					<input type="text" class="form-control form-control-sm" id="txtDescripcion" asp-for="datoEvento.tx_descripcion" />
				</div>
			<div class="mb-2">
				<label class="form-label">Precio</label>
				<input type="text" class="form-control form-control-sm" id="txtPrecio" asp-for="datoEvento.va_precio" />
			</div>
		</div>
		<div class="card-footer">
			<button id="btn_regresar" class="btn btn-default btn-sm btn-block" 
				    data-url='@Url.Action("Index", "Home")' >
				<i class="fa fa-save">Regresar</i>
			</button>
			<button id="btn_actualizar" class="btn btn-default btn-sm btn-block"
				data-url='@Url.Action("ModificarEvento", "Home")'>
				<i class="fa fa-save">Guardar</i>
			</button>
		</div>
	</div>
	</body>
</html>
@{
	await Html.RenderPartialAsync("~/Views/Home/_script_eventos.cshtml");
}